<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <h1>Signup</h1>
    <form method="post">
      <div>
        <label for="username">Username</label>
        <input type="text" required placeholder="Username" name="username" />
      </div>
      <div>
        <label for="email">Email</label>
        <input type="text" required placeholder="Email" name="email" />
      </div>
      <div>
        <label for="password">Password</label>
        <input
          type="password"
          required
          placeholder="Password"
          name="password"
        />
      </div>
      <button type="submit">Signup</button>
    </form>
    <a href="/">Back</a>
  </body>
</html>
